@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header {
    background-image: linear-gradient(to left, #296EB4, #1789FC);
}
.headline {
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    color: white
}
.headline h1 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.headline h2 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}
main {
    margin: auto;
}
.paragrafo {
    padding-top: 40px;
    background-color: #000000;
    text-justify: distribute;
    margin: auto;
    max-width: 800px;
    min-width: none;
    color: white;
    height: 200px;
}
.paragrafo p {
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}
.paragrafo span {
    background-color: green;
    padding: 2px;
    border-radius: 3px;
}
.learn {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: green;
    background-color: black;
}
.learn > h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.content-course {
    display: flex;
    background-color: black;
    max-width: 1800px;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background-color: #1789FC;
    margin: 10px;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    
}
.content-item div {
    height: 100px;
    padding-bottom: 20px;
}
.content-item h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.content-item p {
    text-align: center;
}
.alvo {
    margin: auto;
    margin-top: 20px;
    background-color: #00a100;
    max-width: 800px;
    padding: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px #00a100;
    border: solid #00ff00;

}
.alvo h3 {
    text-align: center;
    font-weight: bold;
}
.alvo span {
    font-weight: bold;
    font-size: 20px;
}
.alvo li {
    font-size: 20px;
}
.receive {
    color: green;
    text-align: center;
    padding: 10px;
}
.vantagens {
    background-color: #1789FC;
    padding: 20px;
    width: 100%;
    margin: auto;
}
.vantagens div {
    max-width: 800px;
    margin: auto;
}
.vantagens li {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    list-style: none;
}
