@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header {
    background-image: linear-gradient(to left, #296EB4, #1789FC);
}
.headline {
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    color: white
}
.headline h1 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.headline h2 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}
main {
    margin: auto;
}
.bg {
    background: url('imagens/background.jpg') no-repeat;
    background-size: auto;
    background-position: center;
}
.paragrafo { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    text-justify: distribute;
    margin: auto;
    max-width: 1300px;
    min-width: none;
    color: white;
}
.paragrafo img {
    width: 480px;
}
.paragrafo p {
    padding-top: 20px;
    font-weight: normal;
    text-align: justify;
    max-width: 400px;
    font-size: 25px;
}
.paragrafo span {
    background-color: green;
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
}
.learn {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
}
.learn > h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.content-course {
    display: flex;
    background-color: black;
    max-width: 1800px;
    margin: auto;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background-color: #1789FC;
    margin: 0 10px;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    
}
.content-item div {
    height: 100px;
}
.content-item h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.content-item p {
    text-align: center;
}
.alvo {
    margin: auto;
    margin-top: 20px;
    background-color: #00a100;
    max-width: 800px;
    padding: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px #00a100;
    border: solid #00ff00;

}
.alvo h3 {
    text-align: center;
    font-weight: bold;
}
.alvo span {
    font-weight: bold;
    font-size: 20px;
}
.alvo li {
    font-size: 20px;
}
.receive {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}
.vantagens {
    background-color: #1789FC;
    padding: 20px;
    width: 100%;
    margin: auto;
}
.vantagens div {
    max-width: 800px;
    margin: auto;
}
.vantagens li {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    list-style: none;
}
.bônus {
    margin: 20px auto;
    max-width: 600px;
    background-color: #00a100;
    border-radius: 10px;

    & summary {
        font-size: 20px;
        padding: 10px;
        color: white;
    }
    & p {
        font-size: 18px;
        padding: 10px;
        color: white;
        margin: 0;
    }
}
.depoimentos {
    background-color: white;

    & p {
        padding: 10px;
        font-size: 18px;
    }
    
}
.buy {
    color: white;
    font-size: 45px;
    text-align: center;
    background-image: linear-gradient(to right, #00a100, #044404);
    padding: 20px;

    .parcela {
        background-color: rgb(54, 53, 53);
        padding: 30px;
        width: 350px;
        margin: auto;
        border-radius: 20px;
    }
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 20px;
    }
    button {
        font-size: 25px;
        color: white;
        border-radius: 10px;
        background-color: #00a100;
        border: none;
        padding: 10px;
    }
}